/* Official Shadowbringers wallpaper from the FINAL FANTASY XIV fan kit.
   Its title sits near the middle of the source artwork, so the image layer is made
   substantially taller than the hero and clipped by the hero viewport. This keeps
   the original image sharp and untouched while ensuring the embedded title and
   copyright never enter the visible header area. */
html[data-theme="shadowbringers"] {
  --hero-image: url("https://lds-img.finalfantasyxiv.com/h/G/NQQOJaiiG-qxtGmRhARo-An0OY.jpg");
  --hero-position: center top;
  --hero-filter: saturate(.94) contrast(1.06) brightness(.78);
}

html[data-theme="shadowbringers"] .hero,
html[data-theme="shadowbringers"] .section-hero,
html[data-theme="shadowbringers"] .forum-hero,
html[data-theme="shadowbringers"] .forum-subhero {
  overflow: hidden;
}

html[data-theme="shadowbringers"] .hero__image,
html[data-theme="shadowbringers"] .section-hero__image,
html[data-theme="shadowbringers"] .forum-hero__image,
html[data-theme="shadowbringers"] .forum-subhero__image {
  inset: 0 0 -150% 0;
  background-image: var(--hero-image);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  html[data-theme="shadowbringers"] .hero__image,
  html[data-theme="shadowbringers"] .section-hero__image,
  html[data-theme="shadowbringers"] .forum-hero__image,
  html[data-theme="shadowbringers"] .forum-subhero__image {
    background-position: 50% top;
  }
}
